@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 232 72% 30%;
		--foreground: 0 0% 98%;
		--card: 232 68% 34%;
		--card-foreground: 0 0% 98%;
		--primary: 0 65% 47%;
		--primary-foreground: 0 0% 100%;
		--secondary: 222 40% 12%;
		--secondary-foreground: 0 0% 80%;
		--muted: 222 40% 10%;
		--muted-foreground: 222 15% 55%;
		--accent: 222 40% 14%;
		--accent-foreground: 0 0% 90%;
		--destructive: 0 65% 47%;
		--destructive-foreground: 0 0% 100%;
		--border: 222 30% 16%;
		--input: 222 30% 14%;
		--ring: 0 65% 47%;
		--radius: 0.5rem;
	}
}

@layer base {
	body {
		@apply bg-background text-foreground;
		font-feature-settings: 'rlig' 1, 'calt' 1;
	}
}
